.csss:nth-child(odd){
    background-color: lightgreen;
    border-radius: 9px;
}
.csss:nth-child(even){
    background-color: lightblue;
    border-radius: 9px;
}

/* .even{
    background-color: green;
}
.odd{
    background-color: blue;
} */